@import '@/assets/styles/variables';

.price_wrapper {
	display: flex;
	flex-grow: 1;
	gap: 16px;

	> div:first-child {
		display: flex;
		flex-direction: column;
		width: 100px;

		.quantity_btn_wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			align-self: center;
			width: 100%;
			padding: 10px 4px;
			background-color: $white;
			border-radius: 8px;

			> button {
				width: 24px;
				height: 24px;
				font-size: 1.25rem;
				line-height: 1.2;

				&:disabled {
					color: $disabled-btn;
				}
			}
		}
	}

	.price {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 5px;
		flex-grow: 1;
		width: 110px;

		> div:first-child {
			font-size: 1.25rem;
			font-weight: 700;
			line-height: 1.4;
			text-align: end;

			> span {
				font-size: 1rem;
				line-height: 1.5;
			}
		}

		> div:last-child {
			width: max-content;
			font-size: 0.8125rem;
			color: $gray;
			line-height: 1.23;
			position: relative;
			padding-bottom: 5px;
			cursor: pointer;

			&::before,
			&::after {
				content: '';
				display: block;
				width: 100%;
				position: absolute;
			}

			&::before {
				height: 1px;
				background-color: $gray;
				top: 45%;
			}

			&::after {
				bottom: 4px;
				border-bottom: 1px dashed rgba($black, 0.2);
			}

			> div {
				display: flex;
				flex-direction: column;
				gap: 8px;
				width: 239px;
				padding: 11px 16px 13px;
				background-color: $white;
				border-radius: 8px;
				box-shadow: $box-shadow-info-block;
				cursor: default;
				color: $black;

				position: absolute;
				top: 100%;
				right: -10px;

				> div {
					display: flex;
					justify-content: space-between;

					> span:first-child {
						color: $light-gray;
					}
				}
			}
		}
	}

	.missed {
		// margin-top: 0;
	}

	@media (max-width: 600px) {
		flex-grow: 0;

		> div:first-child {
			flex-direction: row;
			align-items: center;
			gap: 16px;
			width: auto;

			position: absolute;
			bottom: 0;
			left: 0;

			.quantity_btn_wrapper {
				padding: 3px 10.5px 5px;
				width: auto;
				font-size: 0.875rem;
				line-height: 1.43;

				> button {
					width: auto;
				}

				> span {
					display: inline-block;
					width: 32px;
					text-align: center;
					margin-top: 1px;
				}
			}
		}

		.price {
			width: max-content;
			flex-direction: row;
			align-items: flex-start;
			position: absolute;
			top: calc(0% + 13px);
			left: calc(0% + 88px);

			> div:first-child {
				font-size: inherit;
				line-height: inherit;
			}

			> div:last-child {
				margin-top: 5px;
				> div {
					right: -90px;
				}
			}
		}

		> div:first-child {
			&.missed {
				left: auto;
				right: 0;
			}
		}
	}
}
