@import '@/assets/styles/variables';

.header {
	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 32px;
		padding: 20px 0;

		.burger {
			width: 48px;
			height: 48px;
			padding: 12px 10px;
			border: 1px solid rgba($white, 0.45);
			border-radius: 8px;
			transition: border-color 0.2s ease-in-out;
			background-image: url('/burger.svg');
			background-repeat: no-repeat;
			background-position: center;

			&:hover {
				border-color: rgba($white, 1);
			}
		}

		> a {
			> h1 {
				width: 110px;
				font-size: 1.45rem;
				font-weight: 600;
				color: $white;
				line-height: 1.04;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
		}

		.search {
			display: flex;
			align-items: center;
			flex-grow: 1;
			gap: 8px;
			padding-right: 20px;
			background-color: rgba($white, 0.2);
			border-radius: 36px;
			cursor: pointer;
			color: $white;
			transition: background-color 0.2s ease-in-out;

			> input {
				width: 100%;
				padding: 12px 0 12px 20px;
				background-color: transparent;
				border-radius: inherit;
				color: inherit;
				cursor: inherit;

				&::placeholder {
					color: rgba($white, 0.5);
				}
			}

			> svg {
				width: 25px;

				> g {
					transition: opacity 0.2s ease-in-out;
				}

				&:hover {
					> g {
						opacity: 1;
					}
				}
			}

			&:hover {
				background-color: rgba($white, 0.4);
			}

			&:focus-within {
				background-color: rgba($white, 1);
				pointer-events: none;
				color: $black;

				> svg {
					> g {
						> path {
							fill: $gray;
						}
					}
				}
			}
		}

		.menu {
			display: flex;
			gap: 40px;

			> button {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 7px;
				font-size: 0.8125rem;
				color: $white;
				position: relative;

				> img {
					width: 28px;
					height: 28px;
				}

				.amount_items {
					padding: 1px 5px 2px;
					border-radius: 16px;
					background-color: $orange;
					font-size: 0.625rem;
					font-weight: 700;
					line-height: 1.3;
					color: $white;
					text-align: center;

					position: absolute;
					top: -5px;
					right: 1px;
				}
			}
		}
	}

	@media (max-width: 760px) {
		.wrapper {
			// .burger {
			// 	width: 28px;
			// 	height: 28px;
			// 	background-image: url('/burger-mobile.svg');
			// 	border: none;
			// }

			.menu {
				display: none;
			}
		}
	}
}
