@import '@/assets/styles/variables';

.cart_item_wrapper {
	display: flex;
	align-items: flex-start;
	gap: 17px;

	.cart_item {
		display: flex;
		flex: 0 1 62%;

		> input {
			margin-right: 12px;
			margin-top: 37px;
		}

		> a {
			margin-right: 16px;
			height: max-content;

			> img {
				max-width: 72px;
				height: 96px;
			}
		}

		> div {
			width: 275px;

			> a {
				> h3 {
					margin-bottom: 8px;
				}
			}

			.item_description {
				display: flex;
				gap: 16px;
				margin-bottom: 8px;
			}

			div:is(.item_description, .item_address, .item_company) {
				font-size: 0.8125rem;
				line-height: 1.23;

				&:is(.item_address, .item_company) {
					color: $gray;
				}
			}

			.item_company {
				display: flex;
				align-items: center;

				margin-top: 4px;

				> span {
					display: inline-block;
					height: 25px;
					padding: 2px 8px 5px;
					cursor: pointer;
					position: relative;

					> div {
						display: flex;
						flex-direction: column;
						gap: 8px;
						width: 280px;
						padding: 11px 16px 13px;
						background-color: $white;
						border-radius: 8px;
						box-shadow: $box-shadow-info-block;
						cursor: default;
						color: $black;

						position: absolute;
						top: 100%;
						right: -120px;
						z-index: 1;

						> h4 {
							font-weight: 700;
						}
					}
				}
			}
		}
	}

	@media (max-width: 600px) {
		padding-bottom: 44px;
		position: relative;
		gap: 0;

		.cart_item {
			position: relative;
			flex: none;

			> input {
				margin-top: 0;
				background-color: $white;
				position: absolute;
				top: calc(0% + 4px);
				left: calc(0% + 4px);
			}

			> a {
				> img {
					width: 80px;
					height: 106px;
				}
			}

			> div {
				padding-top: 24px;
				width: 100%;
				max-width: 275px;

				> a {
					> h3 {
						font-size: 0.875rem;
						line-height: 1.43;
					}
				}

				.item_description {
					.size {
						> span:first-child {
							display: none;
						}
						> span:last-child {
							padding: 2px 4px 4px;
							background-color: $white;
							border-radius: 6px;
							position: absolute;
							left: calc(0% + 4px);
							bottom: calc(0% + 4px);
						}
					}
				}

				.item_company {
					display: none;
				}
			}

			&_missed {
				> div {
					padding-top: 0;

					.item_description {
						.size {
							> span:last-child {
								color: $black;
							}
						}
					}
				}
			}
		}
	}

	@media (max-width: 460px) {
		.cart_item {
			width: 100%;

			> div {
				> a {
					> h3 {
						overflow: hidden;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 2;
						white-space: pre-wrap;
					}
				}
			}
		}
	}
}

.cart_item_missed {
	.cart_item {
		> a {
			> img {
				filter: grayscale(1);
			}
		}

		> div {
			flex-grow: 1;
			color: $gray;
		}
	}

	@media (max-width: 600px) {
		width: max-content;
		padding-bottom: 34px;

		.cart_item {
			> div {
				padding-top: 0;

				.item_description {
					.size {
						> span:last-child {
							color: $black;
						}
					}
				}
			}
		}
	}

	@media (max-width: 460px) {
		width: 100%;
	}
}
