@import '@/assets/styles/variables';

.selected_products {
	margin-bottom: 5px;

	> div:first-child {
		display: flex;
		justify-content: space-between;
		margin-bottom: 16px;

		> span {
			> span {
				display: inline-block;
				width: 2px;
				height: 2px;
				background-color: $black;
				border-radius: 50%;
				color: transparent;
				line-height: 0;
			}
		}

		> label {
			display: flex;
			align-items: center;
			gap: 11px;
			cursor: pointer;
		}

		> button {
			line-height: 0;
			padding: 4px;
			transform: rotate(180deg);

			> svg {
				> path {
					transition: fill 0.2s ease-in-out;
				}
			}

			&.active {
				transform: rotate(0deg);
			}

			&:hover {
				> svg {
					> path {
						fill: $black;
					}
				}
			}
		}
	}

	> div:last-child {
		display: flex;
		flex-direction: column;
		gap: 20px;
		border-top: 1px solid rgba($black, 0.1);
		padding-top: 11px;

		> div {
			display: none;
		}
	}

	&.show {
		margin-bottom: 40px;

		> div:last-child {
			> div {
				display: flex;
			}
		}
	}

	@media (max-width: 760px) {
		padding: 0 16px;
	}

	@media (max-width: 600px) {
		> div:first-child {
			> label {
				> input {
					background-color: transparent;
				}
			}
		}

		> div:last-child {
			padding-top: 13px;
		}

		&.show {
			margin-bottom: 48px;
		}
	}
}
