@import '@/assets/styles/variables';

.radio_btn {
	width: 16.5px;
	height: 16.5px;
	visibility: hidden;
	position: relative;
	cursor: pointer;

	&::before {
		content: '';
		display: block;
		width: 16.5px;
		height: 100%;
		border-radius: 50%;
		background-color: $white;
		visibility: visible;
		border: 1px solid rgba($black, 0.2);
		background: url('/WB-L0/dot.svg') center no-repeat;
	}

	&.active {
		&::before {
			background-color: $accent;
			border: none;
		}

		&:after {
			visibility: visible;
		}
	}
}
