@import '@/assets/styles/variables';

.radio_btn {
	width: 16.5px;
	height: 16.5px;
	border-radius: 50%;
	position: relative;

	> input {
		width: 100%;
		height: 100%;
		visibility: hidden;
		position: absolute;
	}

	&::before {
		content: '';
		width: 100%;
		height: 100%;
		border-radius: inherit;
		background-color: $white;
		border: 1px solid rgba($black, 0.2);
		background: url('/WB-L0/dot.svg') center no-repeat;
		cursor: pointer;

		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	&.active::before {
		background-color: $accent;
		border: none;
	}
}
