@import '@/assets/styles/variables';

.footer {
	.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 4px;
		padding: 23.5px 0;
		font-size: 0.8125rem;
		color: rgba($white, 0.7);
		line-height: 1.23;

		> span {
			padding-bottom: 1px;
		}
	}
}
