$font-family: 'SegoeUILight', sans-serif;
$black: #000;
$white: #fff;
$violet: #6725a8;
$orange: #f55123;
$accent: #cb11ab;
$gray: #9797af;
$light-gray: #a0a0a4;
$cart-main-block: #f6f6fa;
$disabled-btn: #bfbfc9;
$box-shadow-info-block:
	0 0 1px rgba($black, 0.3),
	0 2px 10px rgba($black, 0.15);
$green: #0cb477;
$modal: rgba(#05000a, 0.3);
$cart-block: #f6f6f6;
$smoky-dark: #f0ecf4;
