@import './reset';
@import './variables';

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font: 400 normal 1rem/1.5 $font-family;
	color: $black;
	overflow-x: hidden;
	background-color: $violet;
}

.container {
	width: 100%;
	max-width: 1444px;
	padding: 0 20px 0 24px;
	margin: 0 auto;
	transition: padding 0.2s ease-in-out;

	&--cart {
		padding: 0 25px 0 24px;
	}

	@media (max-width: 760px) {
		padding: 0 13px;

		&--cart {
			padding: 0;
		}
	}
}
